<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>

</head>
<body>
    <img src="src/assets/a.png" alt="">
    <div id="app"></div>
    <div>
        <h3>类似js模板引擎写法</h3>
        <%= htmlWebpackPlugin.options.date %>
    </div>
    <div>
        <h3>类似js模板引擎写法-遍历 files</h3>
        <% for (var key in htmlWebpackPlugin.files) { %>
        <%= key %> : <%= JSON.stringify(htmlWebpackPlugin.files[key]) %>
        <% } %>
        <h3>类似js模板引擎写法-遍历 options 插件参数</h3>
        <% for (var key in htmlWebpackPlugin.options) { %>
        <%= key %> : <%= JSON.stringify(htmlWebpackPlugin.options[key]) %>
        <% } %>
    </div>
    <!--我是一行注释-->

</body>
</html>